* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

.topo {
    color: white;
    background-color: #333333;
    display: flex;
    padding: 10px 10px; 
    

}

a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
  
   display: inline;
  

}

.dotopo {
    margin-left: 75px;

}

.jotta {
   margin-left: 55%;
   
}

.meio {
    background-color: #4F46E5;
    color: #ffffff;
    height: 300px;
   
   
   
}

.botom1 {
     background-color: azure;
     border: none;
     width: 130px;
     height: 47px; 
     border-radius: 5px;
     margin-left: 690px;
     margin-top: 100px;
     color: #4F46E5; 
     font-size: 15px;
     cursor: pointer;
     font-weight: 500;
     transition: opacity 0.5s ease;
     

}

.bv {
    margin-left: 580px;
    position: relative;
    top: 75px;
    
}

.bv1 {
    margin-left: 630px;
    position: relative;
    top: 73px;
    font-size: 25px;
    
}

.botom1:hover {
    opacity: 0.8;
}

.final {
     margin-top: 100px;
     margin-left: 215px;
}

.final2 {
  
}